
@{
    ViewBag.Title = "NotificationAuthozide";
    Layout = null;
}
@*<meta http-equiv="Refresh" content="3; url=http://localhost:54886/">*@
<h1>
    Bạn không có quyền truy cập, sau 3s chuyển về trang đăng nhập
</h1>
<h2>NotificationAuthozide, after 3s redirect to login page</h2>

@Html.ActionLink("Back Home","Index","Home") | @Html.ActionLink("Login","Index","Sys_Login")
