
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Reports_LayoutPage.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Update Controller", "UpdateController")
<br />
@Html.ActionLink("Payments", "Index","Payments")